




checkbox {
  margin-right: 8px;
  cursor: pointer;
}

.container{
  display: flex-wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px ;
  box-shadow: 0 4px 10px rgba(148, 101, 101, 0.1);
  padding: 20px;
  text-align: center;

}
